:root {
  --color-base: #25172a;
  --color-secondary: #a63575;
  --color-thirdy: #e24598;
  --color-white: #FFF;
  --color-red: #FF0000;
  --color-disabled: #707070;
  --radius: 5px;
  --font-base: 'Raleway', sans-serif;
  --input-general-height: 16px;
}

* {
  font-family: var(--font-base);
}

html, body, [id="__next"] {
  background: var(--color-base);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  color: var(--color-thirdy);
}
