.inputGeneral {
  border: 1px solid var(--color-secondary);
  background: transparent;
  color: var(--color-white);
  margin-right: 10px;
  padding: 5px 10px;
  height: var(--input-general-height);
  min-width: 100px;
}
