.root {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.root label {
  margin-right: 10px;
  width: 150px;
  text-align: right;
  white-space: nowrap;
}

.inputs {
  display: flex;
  flex-direction: row;
}
