.root {
  width: auto;
  display: block;
}

.button {
  width: 100%;
  padding: 20px;
  color: var(--color-white);
  background-color: var(--color-secondary);
  border: none;
  border-radius: var(--radius);
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.disabled {
  /* position: absolute; */
  background-color: var(--color-disabled);
  bottom: 0px;
}
