.root {
  display: flex;
  flex: 1;
  position: relative;
  width: 208px;
}

.header {
  composes: inputGeneral from '../../../style/utils.mod.css';
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  width: 100%;
}

.header .icon {
  position: absolute;
  right: 5px;
  color: var(--color-secondary);
}

.placeholder {
  color: var(--color-secondary);
  font-size: 14px;
}

.list {
  width: 100%;
  display: none;
  background: var(--color-secondary);
  margin-top: 0px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--color-white);
  position: absolute;
  top: calc(var(--input-general-height) + 11px);
  z-index: 1000;
}

.header:hover + .list, .list:hover {
  display: block;
}

.item {
  cursor: pointer;
  padding: 5px;
  margin: 0;
  border-bottom: 0.5px solid var(--color-white);
}

.item:last-child {
  border-bottom: none;
}
