.root {
  border: 1px solid var(--color-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  width: 196px;
}

.isInvalid {
  border-color: var(--color-red);
  color: var(--color-red);
}

.iconInvalid {
  margin-right: 10px;
}

.input {
  composes: inputGeneral from '../../../style/utils.mod.css';
  border: none;
  flex: 2;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-secondary);
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-secondary);
}

.input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--color-secondary);
}
