.root {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  outline: 0;
}

.root label {
  cursor: pointer;
}

.check {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  font-size: 10px;
}
