.root {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 40px;
}

.root::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color-secondary);
  position: absolute;
  top: 10px;
}

.stepSelected {
  display: block;
  width: 10px;
  height: 10px;
  background: var(--color-secondary);
  border-radius: 100%;
  position: absolute;
  top: -10px;
  left: 40%;
}

.step {
  color: var(--color-secondary);
  position: relative;
  cursor: pointer;
}

.step::before {
  content: '';
  width: 1px;
  height: 10px;
  background-color: var(--color-secondary);
  position: absolute;
  top: 5px;
  left: 50%;
}

.stepLabel {
  padding-top: 20px;
}
