.root {
  background: var(--color-secondary);
  margin-right: 5px;
  border-radius: var(--radius);
  display: inline;
  padding: 10px;
  color: var(--color-white);
}

.iconRemove {
  cursor: pointer;
}
